<!doctype html>
<html ng-app="proposalsApp">
<head>
  <meta charset="utf-8">
  <title>Proposals</title>
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="libs/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="ProposalsCtrl">

<select ng-model="filterTag.tags" >
  <option value="">-- choose tag --</option>
  <option ng-repeat="tag in tags | orderBy:tag[0]" value="{{tag[0]}}">{{tag[0]}} - {{tag[1]}}</option>
</select>

<select ng-model="filterTag.author.lastname" >
  <option value="">-- choose author --</option>
  <option ng-repeat="author in authors| orderBy:author[0].lastname" value="{{author[0].lastname}}">{{author[0].firstname}} {{author[0].lastname}} - {{author[1]}}</option>
</select>

<select ng-model="sort" >
  <option value="-averageVote">Average</option>
  <option value="-count">Count</option>
</select>


  <ol>
    <li ng-repeat="proposal in proposals | filter: filterTag: strict | orderBy: sort ">
      <h3>{{proposal.title}} - {{proposal.averageVote | number: 2 }} ({{proposal.count}})</h3>
      <p>{{proposal.description}}</p>
      <p>{{proposal.author.firstname}} {{proposal.author.lastname}}</p>
      <p><span ng-repeat="tag in proposal.tags"> {{tag}}, </span></p>
    </li>
  </ol>

</body>
</html>
