<!doctype html>
<html ng-app="proposalsApp">
<head>
  <meta charset="utf-8">
  <title>Proposals</title>
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="libs/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="ProposalsCtrl">

  <select ng-model="filterTag.tracks" >
    <option value="">-- choose track --</option>
    <option ng-repeat="track in tracks | orderBy:'name'" value="{{track.name}}">{{track.name}} - {{track.count}}</option>
  </select>

<select ng-model="filterTag.tags" >
  <option value="">-- choose tag --</option>
  <option ng-repeat="tag in tags | orderBy:'name'" value="{{tag.name}}">{{tag.name}} - {{tag.count}}</option>
</select>

<select ng-model="filterTag.author.lastname" >
  <option value="">-- choose author --</option>
  <option ng-repeat="author in authors| orderBy:'author.firstname'" value="{{author.author.lastname}}">{{author.author.firstname}} {{author.author.lastname}} - {{author.count}}</option>
</select>

<select ng-model="sort" >
  <option value="-averageVote">Average</option>
  <option value="-count">Count</option>
</select>


  <ol>
    <li ng-repeat="proposal in proposals | filter: filterTag: strict | orderBy: sort ">
      <h3>{{proposal.title}} - {{proposal.averageVote | number: 2 }} ({{proposal.count}}) - <span ng-repeat="track in proposal.tracks"> {{track}}, </span></h3>
      <p>{{proposal.description}}</p>
      <p>{{proposal.author.firstname}} {{proposal.author.lastname}}</p>
      <p><span ng-repeat="tag in proposal.tags"> {{tag}}, </span></p>
    </li>
  </ol>

</body>
</html>
